{{define "common/footer.html"}}
    <footer>
        <div class="box">
            <!--<div class="wxbox">
                <ul>
                    <li><img src=""><span>微信公众号</span></li>
                    <li><img src=""><span>我的微信</span></li>
                </ul>
            </div>-->

            <div class="endnav">
                {{.Setting.Basic.Footer | StringToTemplate}}
            </div>
        </div>

        <a href="#">
            <div class="top"></div>
        </a>
    </footer>
{{end}}