<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>单页-{{.Article.SeoTitle}}</title>
    <meta name="keywords" content="{{.Article.SeoKey}}"/>
    <meta name="description" content="{{.Article.SeoDesc}}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{template "common/meta.html" .}}

  <style>
    .title{
      padding-bottom: 20px
    }

    .article-content{
      padding-top: 20px;
      min-height: 500px;
    }
  </style>
</head>
<body>
<!--top begin-->
{{template "common/top.html" .}}
<!--top end-->
<article>
    <div class="whitebg about">
        <h2 class="title">{{.Article.Title}}</h2>
        <hr>
        <div class="article-content">
          {{.Article.Content | StringToTemplate}}
        </div>
    </div>
</article>
{{template "common/footer.html" .}}
</body>
</html>
